.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // flex-direction: row;
    padding-top: rem(10px);
}

.header__button {
    display: flex;
    align-items: center;
    margin-left: auto;
    // flex: 1;
	text-align: right;
	margin-right: rem(18px);
}

.logo {
    display: inline-block;
    // margin-right: rem(55px);
    position: relative;
	z-index: 110;

	svg {
		max-width: 95%;
	}
}

.header__links {
    display: flex;
  align-items: center;
}