.map {
    background: url('../../images/map.png') center bottom no-repeat;
    background-size: cover;
    position: relative;
}

// .yandex-map {
// 	position: absolute;
// 	top: 0;
// 	bottom: 0;
// 	left: 0;
// 	right: 0;
// }