@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/HTML\%20and\%20CSS\/MY\%20BASE\%20DATES\/\%D0\%9F\%D0\%B0\%D1\%80\%D1\%82\%D1\%84\%D0\%BE\%D0\%BB\%D0\%B8\%D0\%BE\/\%D0\%9C\%D0\%BE\%D0\%B9\%20\%D1\%81\%D0\%B0\%D0\%B9\%D1\%82\/css\/block\/menu\.scss}line{font-family:\000032}}
.menu {
  background: url("../../images/menu-bg.png") center center/cover no-repeat;
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/HTML\%20and\%20CSS\/MY\%20BASE\%20DATES\/\%D0\%9F\%D0\%B0\%D1\%80\%D1\%82\%D1\%84\%D0\%BE\%D0\%BB\%D0\%B8\%D0\%BE\/\%D0\%9C\%D0\%BE\%D0\%B9\%20\%D1\%81\%D0\%B0\%D0\%B9\%D1\%82\/css\/block\/menu\.scss}line{font-family:\000037}}
.menu-accordion {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/HTML\%20and\%20CSS\/MY\%20BASE\%20DATES\/\%D0\%9F\%D0\%B0\%D1\%80\%D1\%82\%D1\%84\%D0\%BE\%D0\%BB\%D0\%B8\%D0\%BE\/\%D0\%9C\%D0\%BE\%D0\%B9\%20\%D1\%81\%D0\%B0\%D0\%B9\%D1\%82\/css\/block\/menu\.scss}line{font-family:\0000314}}
.menu-accordion__item {
  height: 100%;
  max-width: rem(620px);
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/HTML\%20and\%20CSS\/MY\%20BASE\%20DATES\/\%D0\%9F\%D0\%B0\%D1\%80\%D1\%82\%D1\%84\%D0\%BE\%D0\%BB\%D0\%B8\%D0\%BE\/\%D0\%9C\%D0\%BE\%D0\%B9\%20\%D1\%81\%D0\%B0\%D0\%B9\%D1\%82\/css\/block\/menu\.scss}line{font-family:\0000320}}
.menu-accordion__tab {
  width: rem(80px);
  display: block;
  height: 100%;
  float: left;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/HTML\%20and\%20CSS\/MY\%20BASE\%20DATES\/\%D0\%9F\%D0\%B0\%D1\%80\%D1\%82\%D1\%84\%D0\%BE\%D0\%BB\%D0\%B8\%D0\%BE\/\%D0\%9C\%D0\%BE\%D0\%B9\%20\%D1\%81\%D0\%B0\%D0\%B9\%D1\%82\/css\/block\/menu\.scss}line{font-family:\0000332}}
.menu-accordion__tab--bg-1 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(56, 60, 62, 0.93)), to(rgba(56, 60, 62, 0.93))), url("/images/for-meateat.png");
  background-image: linear-gradient(to top, rgba(56, 60, 62, 0.93), rgba(56, 60, 62, 0.93)), url("/images/for-meateat.png"); }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/HTML\%20and\%20CSS\/MY\%20BASE\%20DATES\/\%D0\%9F\%D0\%B0\%D1\%80\%D1\%82\%D1\%84\%D0\%BE\%D0\%BB\%D0\%B8\%D0\%BE\/\%D0\%9C\%D0\%BE\%D0\%B9\%20\%D1\%81\%D0\%B0\%D0\%B9\%D1\%82\/css\/block\/menu\.scss}line{font-family:\0000336}}
.menu-accordion__tab--bg-2 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(56, 60, 62, 0.93)), to(rgba(56, 60, 62, 0.93))), url("/images/for-vegetarians.png");
  background-image: linear-gradient(to top, rgba(56, 60, 62, 0.93), rgba(56, 60, 62, 0.93)), url("/images/for-vegetarians.png"); }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/HTML\%20and\%20CSS\/MY\%20BASE\%20DATES\/\%D0\%9F\%D0\%B0\%D1\%80\%D1\%82\%D1\%84\%D0\%BE\%D0\%BB\%D0\%B8\%D0\%BE\/\%D0\%9C\%D0\%BE\%D0\%B9\%20\%D1\%81\%D0\%B0\%D0\%B9\%D1\%82\/css\/block\/menu\.scss}line{font-family:\0000340}}
.menu-accordion__tab--bg-3 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(56, 60, 62, 0.93)), to(rgba(56, 60, 62, 0.93))), url("/images/for-diet.png");
  background-image: linear-gradient(to top, rgba(56, 60, 62, 0.93), rgba(56, 60, 62, 0.93)), url("/images/for-diet.png"); }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/HTML\%20and\%20CSS\/MY\%20BASE\%20DATES\/\%D0\%9F\%D0\%B0\%D1\%80\%D1\%82\%D1\%84\%D0\%BE\%D0\%BB\%D0\%B8\%D0\%BE\/\%D0\%9C\%D0\%BE\%D0\%B9\%20\%D1\%81\%D0\%B0\%D0\%B9\%D1\%82\/css\/block\/menu\.scss}line{font-family:\0000344}}
.menu-accordion__tab-title {
  font-size: rem(40px);
  font-family: "gagalinregular";
  color: #fff;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  -webkit-transform: rotate(-90deg) translateY(-50%);
          transform: rotate(-90deg) translateY(-50%);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  left: 50%;
  top: 100%;
  margin-top: rem(-20px); }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/HTML\%20and\%20CSS\/MY\%20BASE\%20DATES\/\%D0\%9F\%D0\%B0\%D1\%80\%D1\%82\%D1\%84\%D0\%BE\%D0\%BB\%D0\%B8\%D0\%BE\/\%D0\%9C\%D0\%BE\%D0\%B9\%20\%D1\%81\%D0\%B0\%D0\%B9\%D1\%82\/css\/block\/menu\.scss}line{font-family:\0000358}}
.menu-accordion__content {
  height: 100%;
  background: rgba(56, 60, 62, 0.93);
  width: 0;
  overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/HTML\%20and\%20CSS\/MY\%20BASE\%20DATES\/\%D0\%9F\%D0\%B0\%D1\%80\%D1\%82\%D1\%84\%D0\%BE\%D0\%BB\%D0\%B8\%D0\%BE\/\%D0\%9C\%D0\%BE\%D0\%B9\%20\%D1\%81\%D0\%B0\%D0\%B9\%D1\%82\/css\/block\/menu\.scss}line{font-family:\0000365}}
.menu-accordion__text {
  font-size: rem(14px);
  line-height: rem(24px);
  font-style: normal;
  font-family: "ubuntulight", Arial, sans-serif;
  color: #fff;
  padding: rem(57px) rem(35px) rem(35px) rem(115px);
  width: 100%;
  display: none; }

/*# sourceMappingURL=menu.css.map */