$yellow: #f9b43b;
.menu {
    background: url("../../images/menu-bg.png") center center / cover no-repeat;
    position: relative;
}

.menu-accordion {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.menu-accordion__item {
    height: 100%;
    max-width: rem(620px);
    float: left;
}

.menu-accordion__tab {
    width: rem(80px);
    display: block;
    height: 100%;
    float: left;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    
}

.menu-accordion__tab--bg-1 {
    background-image: linear-gradient(to top, rgba(56, 60, 62, 0.93), rgba(56, 60, 62, 0.93)), url('/images/for-meateat.png');
}

.menu-accordion__tab--bg-2 {
    background-image: linear-gradient(to top, rgba(56, 60, 62, 0.93), rgba(56, 60, 62, 0.93)), url('/images/for-vegetarians.png');
}

.menu-accordion__tab--bg-3 {
    background-image: linear-gradient(to top, rgba(56, 60, 62, 0.93), rgba(56, 60, 62, 0.93)), url('/images/for-diet.png');
}

.menu-accordion__tab-title {
    font-size: rem(40px);
    font-family: "gagalinregular";
    color: #fff;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    transform: rotate(-90deg) translateY(-50%);
    transform-origin: 0 0;
    left: 50%;
    top: 100%;
    margin-top: rem(-20px);
}

.menu-accordion__content {
    height: 100%;
    background: rgba(#383c3e, 0.93);
    width: 0;
    overflow: hidden;
}

.menu-accordion__text {
    font-size: rem(14px);
    line-height: rem(24px);
    font-style: normal;
    font-family: "ubuntulight", Arial, sans-serif;;
    color: #fff;
    padding: rem(57px) rem(35px) rem(35px) rem(115px);
    width: 100%;
    display: none;
}