.navigation {
    align-items: center;
    display: inline-block;
}

.navigation__list {
    display: flex;
    align-items: center;
}

.navigation__item {
    display: flex;
    align-items: center;
    &::before {
        content: "";
        display: inline-block;
        width: 4px;
        height: 4px;
        margin: 0 15px;
        border-radius: 50%;
        background-color: #fff;
    }
    &:first-child {
        &::before {
            display: none;
        }
    }
}

.navigation__link {
    font: normal 13px/15px "ubuntumedium", Arial, sans-serif;
    color: #fff;
    text-transform: uppercase;
    &:hover {
        color: $orange;
    }
}