.navigation {
    align-items: center;
    display: inline-block;
    width: 100%;
}

.navigation__list {
    display: flex;
    align-items: center;
    text-align: center;
    @include tablets {
        display: none;
    }
}

.navigation__item {
    display: flex;
    align-items: center;
    &::before {
        content: "";
        display: inline-block;
        width: rem(4px);
        height: rem(4px);
        margin: 0 rem(15px);
        border-radius: 50%;
        background-color: #fff;
    }
    &:first-child {
        &::before {
            display: none;
        }
    }
}

.navigation__link {
    font-size: rem(13px);
    line-height: rem(15px);
    font-style: normal;
    font-family: "ubuntumedium", Arial, sans-serif;;
    color: #fff;
    text-transform: uppercase;
    transition: color 0.8s;
    &:hover {
        color: $orange;
    }
}