.reviews {
  background-color: #c3c3c3; }

.reviews__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 25%;
  flex: 1 1 25%;
  background-color: #4f4f4f; }

.rewiews__item {
  width: 275px;
  height: 325px; }
  .rewiews__item:hover .rewiews__item-hover {
    display: block;
    position: relative;
    z-index: 10; }
    .rewiews__item:hover .rewiews__item-hover::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 275px;
      height: 325px;
      background-color: #706868b2;
      opacity: 0.7;
      z-index: -10; }

.rewiews__item-hover {
  display: none;
  color: #fff;
  padding: 41px 32px 49px 19px; }

.rewiews__item:nth-child(1) {
  background: url("../../images/reviews-img1.png") no-repeat center center; }

.rewiews__item:nth-child(2) {
  background: url("../../images/reviews-img2.png") no-repeat center center; }

.rewiews__item:nth-child(3) {
  background: url("../../images/reviews-img3.png") no-repeat center center; }

.rewiews__item:nth-child(4) {
  background: url("../../images/reviews-img4.png") no-repeat center center; }

.rewiews__item:nth-child(5) {
  background: url("../../images/reviews-img5.png") no-repeat center center; }

.rewiews__item:nth-child(6) {
  background: url("../../images/reviews-img6.png") no-repeat center center; }

.rewiews__item:nth-child(7) {
  background: url("../../images/reviews-img7.png") no-repeat center center; }

.rewiews__item:nth-child(8) {
  background: url("../../images/reviews-img8.png") no-repeat center center; }

.reviews__name {
  font: normal 14px/28px "gagalinregular", Arial, sans-serif;
  margin-bottom: 14px; }

.rewiews__text {
  font: normal 14px/24px "ubuntulight", Arial, sans-serif;
  margin-bottom: 12px; }

.rewiews__button {
  font: normal 13px/30px "ubuntumedium", Arial, sans-serif;
  padding: 2px 15px;
  text-transform: uppercase;
  background-color: #2f3234;
  border-radius: 4px;
  border: none;
  color: #fff; }
  .rewiews__button:hover {
    background-color: #fff;
    color: #2f3234; }
