.reviews {
    background-color: #000;
    position: relative;
}

.rewiews__list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.reviews__item {
    position: relative;
    width: 25%;
    height: 50%;
    background: center center / cover no-repeat;
    filter: grayscale(100%);
    &:hover {
        .rewiews__item-hover {
            opacity: 1;
        }
    }
    @include tablets {
        width: 50%;
    height: 25%;
    }
}

.rewiews__item-hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: rem(41px) rem(32px) rem(49px) rem(19px);
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s;
}

.reviews__name {
    font: normal rem(14px)/rem(28px) "gagalinregular", Arial, sans-serif;
    margin-bottom: rem(14px);
}

.rewiews__text {
    font: normal rem(14px)/rem(24px) "ubuntulight", Arial, sans-serif;
    margin-bottom: rem(12px);
    @include phones {
        display: none;
    }
}

.button:hover {
    background-color: #fff;
    color: $black;
}