.we-best {
    background: url("../images/we-best-bg.png") no-repeat center center / cover;
}

.we-best__list {
    display: flex;
    align-items: baseline;
}

.we-best__item {
    flex: 1;
    margin-left: 20px;
    text-align: center;
    &:first-child {
        margin-left: 0;
    }
}

.we-best__img {
    display: inline-block;
    margin-bottom: 35px;
}

.we-best__title {
    font: normal 24px/28px "lifehackmedium", Arial, sans-serif;
    color: $black;
    letter-spacing: -0.6px;
    margin-bottom: 13px;
}

.we-best__content {
    font: normal 14px/24px "ubuntulight", Arial, sans-serif;
    color: $black;
}