.we-best {
    background: url("../images/we-best-bg.png") no-repeat center center / cover;
}

.we-best__list {
    display: flex;
    align-items: baseline;
}

.we-best__item {
    flex: 1;
    margin-left: rem(20px);
    text-align: center;
    &:first-child {
        margin-left: 0;
    }
}

.we-best__img {
    display: inline-block;
    margin-bottom: rem(35px);
}

.we-best__title {
    font-size: rem(24px);
    line-height: rem(28px);
    font-style: normal;
    font-family: "lifehackmedium", Arial, sans-serif;
    color: $black;
    letter-spacing: rem(-0.6px);
    margin-bottom: rem(13px);
}

.we-best__content {
    font-size: rem(14px);
    line-height: rem(24px);
    font-style: normal;
    font-family: "ubuntulight", Arial, sans-serif;
    color: $black;
}