// $orange: #e45028;
.button {
    display: inline-block;
    padding: rem(10px) rem(15px);
    border-width: 0;
    border-radius: rem(4px);
    text-transform: uppercase;
    background-color: $orange;
    text-align: center;
    font-size: rem(13px);
    line-height: rem(15px);
    font-style: normal;
    font-family: "ubuntumedium", Arial, sans-serif;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.8s;
    &--black {
        background-color: $black;
    }
}

.button:hover {
    background-color: #fff;
    & .order__link {
        color: $orange;
    }
}